@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin:0;  /*this removes any extra space (margin) outside elements */
    padding:0; /*this removes any extra space (padding) outside elements */
    box-sizing: border-box; /*This changes how the width and height of elements are calculated. It makes sure that padding and borders are included in the total width and height, so elements are easier to size correctly.*/
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    color:white;
}

header{
    margin-top: 20px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.main-photo{
    filter:brightness(80%);
    position:fixed;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.2);
}

